<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/global.js"></script>
    <script src="js/login.js"></script>
</head>

<body ng-app="login" class="login">
    <div class="div-frame">
        <div class="div-logo">
            <img src="img/ic_logo.png" class="logo"/>
        </div>

        <div class="div-info" ng-controller="LoginCtrl">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="用户名" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="密码" ng-model="user.password">
                </label>
            </div>

            <div class="div-btn">
                <button class="button button-block button-positive" ng-click="onLogin()">
                    登录
                </button>
            </div>
        </div>
    </div>

    <!--script src="js/db.js"></script-->
</body>
</html>
