<!DOCTYPE html>
<html ng-app="login">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!--script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script-->
    <script src="js/login.js"></script>
</head>

<body class="login">
    <div ng-controller="LoginCtrl" class="div-frame">
        <div class="div-logo">
            <img src="img/ic_logo.png" class="logo"/>
        </div>

        <div class="div-info">
            <form>
                Name: <input type="text" ng-model="user.name" /><br />
                Password: <input type="text" ng-model="user.password" /><br />
                <!--input type="submit" ng-click="update(user)" value="Login" id="entering"/-->
            </form>

            <button class="button button-calm btn-login" ng-click="onLogin()">
                Login
            </button>
        </div>
    </div>

    <!--script src="js/db.js"></script-->
</body>
</html>
