<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/main.js"></script>
</head>

<body ng-controller="MainCtrl">
    <ion-header-bar class="bar-dark">
        <!--<button class="button button-icon" ng-click="toggleProjects()">-->
        <!--<i class="icon ion-navicon"></i>-->
        <!--</button>-->
        <h1 class="title">主界面</h1>
        <!-- New Task button-->
        <!--<button class="button button-icon" ng-click="newTask()">-->
        <!--<i class="icon ion-compose"></i>-->
        <!--</button>-->
        <div class="buttons">
            <button class="button"><i class="icon ion-android-exit"></i></button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list">

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-briefcase"></i>
                我的任务
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-clipboard"></i>
                系统公告
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-gear-b"></i>
                参数设置
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-help-circled"></i>
                系统帮助
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
        <!--table class="table">
            <tr class="tab_tr" >
                <td onclick="onClick(this) " id="chaoBiaoRW">
                    <img class="tab_img" src="img/ic_home_mytask.png"><br/>
                    <span>抄表任务</span></td>
                <td onclick="onClick(this)" id="yanChiCB"><img src="img/ic_home_delay.png"><br/>
                    <span>延迟抄表</span></td>
                <td onclick="onClick(this)" id="zuHeCX"><img src="img/ic_home_select.png"><br/>
                    <span>组合查询</span></td>
            </tr>
            <tr class="tab_tr">
                <td onclick="onClick(this)" id="liangGaoLD"><img src="img/ic_home_data.png"><br/>
                    <span>量高量低</span></td>
                <td onclick="onClick(this)" id="tongJiFX"><img src="img/ic_home_statistics.png"><br/>
                    <span>统计分析</span></td>
                <td onclick="onClick(this)" id="diTu"><img src="img/ic_home_map.png"><br/>
                    <span>地图</span></td>
            </tr>
            <tr class="tab_tr">
                <td onclick="onClick(this)" id="xiTongBZ"><img src="img/ic_home_help.png"><br/>
                    <span>系统帮助</span></td>
            </tr>
        </table-->
    </ion-content>
</body>
</html>
