<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/global.js"></script>
    <script src="js/tasks.js"></script>
</head>

<body class="tasks" ng-app="tasks" ng-controller="TasksCtrl">

<ion-header-bar class="bar-dark">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="onBack()"></button>
    <h1 class="title">抄表任务</h1>
</ion-header-bar>

<ion-content>
    <ion-list>
        <ion-item ng-repeat="item in items" class="item-avatar"
                  href="volume.html?account={{account}}&volume={{item.volume}}">
            <img src="./img/ic_task.png">

            <h2>{{item.volume}}({{item.count}})</h2>

            <p>
                <span class="year-month1">账务年月</span><span class="year-month2">{{item.year_month}}</span>
                <span class="period1">抄表周期</span><span class="period2">{{item.period}}</span>
            </p>

            <ion-option-button class="button-positive"
                               ng-click="share(item)">
                继续抄表
            </ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>

</body>
</html>
